.container {
  display: flex;
  justify-content: center;
}

.input {
  width: 600px;
  max-width: 100%;
  position: relative;
  margin: 20px;
}

.input input {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 20px;
  padding-right: 0;

  font-size: 20px;
  background-color: beige;
}

.input input:focus {
  outline: 0;
}

button {
  background-color:cadetblue;
  border-radius: 0 50px 50px 0;
  aspect-ratio: 1;
  height: 100%;
  color: white;
  border: none;
  width: 120px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;

  position: absolute;
  right: -20px;
  top: 0;
}