.task-item__container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-inline: 10px;
  border-bottom: 2px solid cadetblue;
}

.task-item__checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.task-item__hidden__checkbox {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.task-item__custom__checkbox {
  display: inline-block;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.task-item__custom__checkbox img{
  width: 30px;
}

.task-item__delete img{
  width: 25px;
  cursor: pointer;
}

.task-item__name {
  user-select: none; 
  font-size: 20px;
  text-transform: capitalize;
}

.task-item__hidden__checkbox:checked ~ .task-item__name {
  text-decoration: line-through;
  color: gray;
}