.task-list__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list__wrapper{
  width: 600px;
  max-width: 100%;
  background-color: beige;
  border-radius: 50px;
  height: 300px;
  margin: 20px;
  margin-right: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task-list{
  width: 100%;
}

.task-list__clear-section{
  width: 100%;
  padding-top: 15px;
  cursor: pointer;
}

.task-list__clear{
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list__clear_logo{
  margin-right: 15px;
}

.task-list__clear_logo img{
  width: 20px
}

.task-list__clear_label{
  color: #FF8D28;
}